body {
    color: #333;
}
p, a, li {
    letter-spacing: 0.4px
}
#breadcrumb {
    margin: 3px 0 30px 0;
}
/*FAIXA TOPO*/
.topo {
    background: #fff;
    width: 100%;
    float: left;
    height: 30px;
    padding: 8px 0 0 0;  
    font-size: 12.5px; 
    color: #333; 
    margin-bottom: 0;
    border-bottom: 1px solid #b3b3b3;
}
.topo a {
    font-size: 12.5px;
    color: #333;
    text-decoration: none;
    padding: 0 8px;
}
.topo p {
    font-size: 14px;
}
.topo .redes-topo {
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    text-align: center;
}
/*FIM FAIXA TOPO*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #002e5d;
    z-index: 1000;
    margin: 0 auto 0 0;
    box-shadow: 0 1px 13px 2px #7d7d7d17;
}
header .logo {
    float:left;
    margin:3px 0
}
header .logo img {
    margin-top: 32px;
    width: 63%;
    margin-left: 80px;
    margin-bottom: -30px;
}
header .logo a {
    display:block;
    text-decoration:none;
}
header .tel {
    margin-top: 85px;
    margin-left: 185px;
}
header .tel a {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    padding: 0px;
    color: #fff;
}
header .tel a i {
    padding: 0 3px 0 0;
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    text-align: center;
    margin-top: 50px
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color:#333;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative
}
.menu > .menu-list > li > a {
    display:inline-block;
    padding:10px 20px;
    margin:0;
    font-weight: bold; 
    transition: all 0.5s;
    color: #fff; 
}
.menu > .menu-list > li:hover > a {
    color: #1E90FF;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position:absolute;
    left:0;
    min-width:200px;
    z-index:100;
    display:none;
    padding:0;
    margin-left: -75px;
}
.menu > .menu-list > li > .sub-menu > li {
    margin-right: -130px;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding:10px 20px;
    background:#000;
    color: #fff;
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    color: #1E90FF;
    transition: all 0.5s;
}

/* Menu Mobile */
.slicknav_btn {
    background-color:#000
}
.slicknav_menu {
    background-color:#292929
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}

/* Rodapé */
footer {
    padding: 60px 0 0 0;
    background-color:#000;
    color:#fff;
    margin-top:0;
    float: left;
    width: 100%;
    border-top: 5px solid #d7ac67;
}
footer .logo {
    padding: 0 70px 0 0
}
footer .logo img {
    margin: 0 20px 0 
}
footer .logo i {
    padding: 21px 0 0 22px;
    font-size: 23px;
}
footer h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 190px;
    color: #fff;
    letter-spacing: 1px;
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #fff;
    margin: 5px 0;
    line-height: 20px;
}
footer li {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 22px;
}
footer a {
    text-decoration: none;
    color: #fff;
    text-transform: none;
    
}
footer a .fa-facebook-square {
    margin-left: 500px;
    color: #0863c1;
}
footer a .fa-linkedin {
    margin-left: 15px;
    color: #2287ef;
}
footer a .fa-instagram {
    margin-left: 15px;
    color: #b7b6b6;
}
footer a i {
    font-size: 30px;
    margin-right: 15px;
}
footer iframe {
    border: none;
    width: 100%;
    float: left;
    height: 180px;
}
footer .footer-copyright {
    padding: 5px 0;
    margin-top: 30px;
    background: #333;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .text-right {
    margin-top: 0;
}
footer hr {
    margin-bottom: 0;
}
footer .logo p {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #fff;
    padding: 0 25px;
}
footer .footer-copyright p.desenvolvido {
    margin: 5px 20px;
    padding-bottom: 0;

}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 0 auto 5px auto;
    border-radius: 25px
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 30px;
    background: #fff;
    z-index: 100000;
    margin-right: 15px;
}
.btn-fixo a i {
    margin: 0 auto;
}
.btn-fixo a.btn-telephone i {
    color:#002e5d;
}

.btn-fixo a.btn-whatsapp i {
    color:#25d366;
}
.btn-fixo a.btn-mail i {
    color:#000033;
}
a.btn-telephone {
    top: 400px;
    padding: 11px 12px;
    transition: 0.6s all;
}
a.btn-whatsapp {
    top: 475px;
    transition: 0.6s all;
    padding: 11px 12.8px;
}
a.btn-mail {
    top: 550px;
    transition: 0.6s all;
    padding: 11px 12px;
}
.btn-fixo a:hover {
    background: #eaeaea;
    transition: 0.6s all;
}
/* Main */
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
}